$grid-columns: 24;

@mixin grid-columns($class: '') {
  @for $index from 0 through $grid-columns {
    @if $index > 0 {
      .az-col#{$class}-#{$index} {
        display: block;
        flex: 0 0 percentage(($index / $grid-columns));
        max-width: percentage(($index / $grid-columns));
      }
      .az-col#{$class}-push-#{$index} {
        left: percentage(($index / $grid-columns));
      }
      .az-col#{$class}-pull-#{$index} {
        right: percentage(($index / $grid-columns));
      }
      .az-col#{$class}-offset-#{$index} {
        margin-left: percentage(($index / $grid-columns));
      }
      .az-col#{$class}-order-#{$index} {
        order: $index;
      }
    } @else {
      .az-col#{$class}-#{$index} {
        display: none;
      }
      .az-col-push-#{$index} {
        left: auto;
      }
      .az-col-pull-#{$index} {
        right: auto;
      }
      .az-col#{$class}-push-#{$index} {
        left: auto;
      }
      .az-col#{$class}-pull-#{$index} {
        right: auto;
      }
      .az-col#{$class}-offset-#{$index} {
        margin-left: 0;
      }
      .az-col#{$class}-order-#{$index} {
        order: 0;
      }
    }
  }
}
