//  color

$--color-primary-shallow: #e3fff3 !default;
$--color-primary-disabled: #80d8b3 !default;
$--color-primary-hover: #33c085 !default;
$--color-primary: #00b067 !default;
$--color-auxiliary-deep: #02a863 !default;
$--color-white: #ffffff !default;
$--color-black: #333333 !default;
$--border-color-base: #dcdfe6 !default;
$--color-text-placeholder: #c0c4cc !default;
$--color-text-regular: #606266 !default;
$--color-border-color-lighter:#ebeef5 !default;

$--color-danger-disabled: #fab6b6 !default;
$--color-danger-hover: #ff7875 !default;
$--color-danger: #ff4d4f !default;

$--color-warning-disabled: #f3d19e;
$--color-warning-hover: #ebb563;
$--color-warning: #e6a23c;

$--color-success-disabled: #b3e19d;
$--color-success-hover: #85ce61;
$--color-success: #67c23a;

$--scroll-bar-color: rgba(144,147,153,.3);

//  font
$--font-weight-normal: 400 !default;
$--font-size-base: 14px !default;
$--font-size-big-base: 16px !default;

// border
$--border-radius-base: 4px 4px 4px 4px !default;
$--border-width-base: 1px !default;
$--border-style-base: solid !default;
$--border-color-hover: $--color-text-placeholder !default;
$--border-base: $--border-width-base $--border-style-base $--border-color-base !default;

//  button
$--button-padding-vertical: 12px !default;
$--button-padding-horizontal: 20px !default;
$--button-font-size: $--font-size-base !default;

// button-big
$--button-big-padding-vertical: 14px !default;
$--button-big-padding-horizontal: 20px !default;
$--button-big-font-size: $--font-size-base !default;
$--button-big-border-radius: $--border-radius-base !default;

// button-medium
$--button-medium-padding-vertical: 10px !default;
$--button-medium-padding-horizontal: 15px !default;
$--button-medium-font-size: $--font-size-base !default;
$--button-medium-border-radius: $--border-radius-base !default;

// button-small
$--button-small-font-size: 12px !default;
$--button-small-border-radius: $--border-radius-base !default;
$--button-small-padding-vertical: 9px !default;
$--button-small-padding-horizontal: 15px !default;

// button-mini
$--button-mini-font-size: 12px !default;
$--button-mini-border-radius: $--border-radius-base !default;
$--button-mini-padding-vertical: 7px !default;
$--button-mini-padding-horizontal: 15px !default;

//  other
$--transition-time: .35s;
