.index-container {
  min-width: 1100px;
  max-width: 1480px;
  margin: 0px auto;
  .index-banner {
    width: 1100px;
    height: 704px;
    margin: 0px auto;
    img {
      width: 100%;
      z-index: -1;
    }
  }
}
