.az-roof {
  border-bottom: 1px solid #ededed;
  min-width: 1024px;
  margin: 0px auto;
  box-sizing: border-box;
  .logo-warp {
    display: flex;
    padding: 4px 0px;
    justify-content: space-between;
    text-decoration: none;
    color: #00b067;
    .logo {
      height: 51px;
      margin-left: 4px;
    }
  }
}